.team_cont {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  margin-top: 50px;
  margin-bottom: 80px;
}
.team_title_section {
  color: #282828;
  font-size: 24px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  border-left: 4px solid #0d6efd;
}
.team_member {
  padding: 0.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .team {
    width: 100%;
  }
  .team_cont {
    width: 100%;
    margin: 0 !important;
    padding-left: 2rem;
    padding-top: 30%;
  }
  .team_title_section {
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-indent: 1rem;
  }
  .team_member {
    width: max-content;
    background-color: orange;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin-left: 25px;
  }
  .participants {
    width: 90%;
    display: flex;
    margin-top: 2rem;
    margin-left: -25px;
    margin-bottom: 3rem;
  }
  .des {
    margin-bottom: 2rem !important;
  }
  .back {
    max-width: max-content;
  }
  .back > svg {
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
  .section_flex_back {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }
  svg {
    margin-bottom: 0 !important;
  }
}
