@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.home_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.navs_items {
  border-radius: 3rem;
}
.Home {
  padding-top: 2.5vw;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

.nav_active_link {
  margin-top: 3rem;
  color: #0d6efd;
}
.rank {
  color: #282828;
  font-family: 'Roboto', sans-serif;
}
.p_team_section {
  cursor: pointer;
}
.Dashboard_name {
  max-width: 500px;
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #282828;
  letter-spacing: 2px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  border-left: 0.15em solid #0d6efd;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  white-space: nowrap;
  font-size: 3rem;
  animation: typing-Profile-name 1s steps(40) forwards;
  animation-duration: 1s;
}
.teams_section {
  margin-bottom: 3rem;
}
/* Pentru mobile , e un bug  */
@media only screen and (max-width: 750px) {
  .home_container {
    width: 90%;
    margin-right: auto;
  }
  .Profile {
    width: 100%;
  }
  .navs_items {
    display: none;
  }
  .rank_section {
    text-align: center;
  }
  .add_team_btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .Dashboard_name {
    max-width: 90%;
    font-size: 2rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  .p_team_section {
    width: 90%;
    text-align: center;
    padding: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    /* border-right: 2px solid orange; */
    /* border-left: 2px solid orange; */
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid #0d6efd;
    border-radius: 10px;
    /* box-shadow: 1px 1px gray */
    /* border-radius: 1rem; */
  }
}
@media only screen and (max-width: 750px) {
  .home_container {
    width: 100vw;
    /* overflow: hidden; */
  }
  .navs_items {
    width: 100%;
    position: fixed; /* Change 'absolute' to 'fixed' */
    height: 5rem;
    display: flex;
    /* background-color: #0d6efd; */
    z-index: 1000;
    border-radius: 0;
    justify-content: space-around;
    background-color: white;
    padding-top: 2rem;
    color: #282828;
    bottom: 0;
    border-bottom: 3px solid orange;
    border-radius: 15px 15px 0 0;
  }

  .nav_active_link {
    margin-top: 0;
  }
}
