@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.Profile-cont {
  padding-top: 2.5vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  overflow: none;
}
.team {
  padding-top: 2.5vw;

  height: max-content;
  margin-left: auto;
  margin-right: 20vw;
  font-family: 'Roboto', sans-serif;
}

.Profile-name {
  max-width: 500px;
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #282828;
  letter-spacing: 2px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  border-left: 0.15em solid #0d6efd;
  padding: 10px;
  white-space: nowrap;
  font-size: 3rem;
  animation: typing-Profile-name 1s steps(40) forwards;
  animation-duration: 1s;
}
.Profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img-img {
  width: 501px !important;
  height: 347px !important;
}

.Profile-p {
  color: #282828;
  font-size: 2rem;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  border-left: 3px solid #0d6efd !important;
}
.span-b {
  color: #0d6efd;
  font-family: 'Roboto', sans-serif;
}
.span-o {
  border-bottom: 2px solid orange;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
}
.Profile-btns {
  width: 100%;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}
.btn-update {
  padding: 10px !important;
}
.btn-del {
  margin-left: 20px;
  background-color: orange !important;
  border: none !important;
}
.profile-img-img {
  z-index: -1;
}
@keyframes typing-Profile-name {
  0% {
    width: 0px;
  }

  100% {
    width: 400px;
  }
}

/* Pentru mobile , e un bug  */
@media only screen and (max-width: 750px) {
  .Profile {
    max-width: 100%;
  }
  .Profile-cont {
    width: 92%;

    margin-right: 0;
    overflow: hidden;
  }
  .Profile-name {
    margin-top: 2rem;
    max-width: 90%;
    font-size: 1.5rem;
    padding-top: 30%;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    overflow: hidden;
  }
  .Profile-btns {
    width: 90% !important;
    margin-right: 0;
  }
  .Profile-p {
    font-size: 1.3rem !important;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-left: 0 !important;
    border-top: 2.4px solid #0d6efd;
    padding-top: 1rem;
    border-bottom: none;
  }
  .span-o {
    border-bottom: none;
    color: orange;
    padding: 0.5rem;
  }
}
